@font-face {
  font-family: poke;
  src: url('../fonts/pokemon_solid.ttf')
}

body {
  display: grid;
  height: 100vh;
  margin: 0;
  padding: 0;
  grid-template-rows: auto auto 1fr;
}

nav ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  margin-right: 2em;
}
section {
  width: 100%;
  margin: 0 auto;
  background: #ededed;
  padding: 1em;
  display: none;
  box-sizing: border-box;
}
 h1 {
   font-family: poke;
   color: #ffce00;
   font-size: 5em;
  -webkit-text-stroke: 3px #356abd;
  /* transform: translatey(-10rem); */
 }
.game {
  background: url("../images/pokebg.jpg");
  background-size: cover;
  position: relative;
  height: 70vh;
  width: 80vw;
}
.active {
  display: block;
}
.imgWrap {
  width: 90%;
  max-width: 700px;
  position: absolute;
  top: 20%; 
  left: 15%;
  display: grid;
  place-items: center center;
}
.imgWrap img:nth-of-type(2) {
  filter: none;
  width: 100%;
  transition: filter 300ms;
}
.ingame .imgWrap img:nth-of-type(2) {
  filter: grayscale(100%) brightness(.2) invert(50%) sepia(100%) saturate(100) hue-rotate(200deg) contrast(200%);
}
output, form.userGuess {
  display: none;
}
.ingame output {
  display: block;
  font-family: poke;
  font-size: 10em;
  color: #ffce00;
  -webkit-text-stroke: 10px #356abd;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}
.ingame form {
  display: block;
}
.ingame #pokemonName {
  display: none;
}
.ingame button, .ingame #message {
  display: none;
}
.singleName {
  display: none;
}
.loader {
  max-width: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  animation: rotate 1s infinite;
  z-index: 2;
}
.pokemonList {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pokemonList li {
  background: #fff;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.164);
  margin-bottom: 1em;
}
.pokemonList li a{
  display: flex;
}
.hidden {
  display: none;
}
footer {
  position: fixed;
  bottom: 1em;
  background: white;
}
#detail.active ~ footer {
  display: none;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}